<div class='row'>
    <div class='col-md-12 text-center'>
        <h1>Waiter Data</h1>
    </div>
</div>
<div class='row'>
    <div class='col-md-12 text-center'>
        <table>
            <tr>
                {{#each days}}
                <th>
                    <h4 class='{{style}}' style="float: none; text-align: center; margin:2px"><u>{{day}}</u> <br> waiters:
                        {{waiters}}</h4>
                </th>
                {{/each}}
            </tr>
            <tr>
                {{#each workers}}
                <td>
                    {{#each waiters}}
                    <form action="/deleteWaiter/{{name}}-{{../day}}" method='POST'>
                        <span style="float: right"> <a class='choosing' href="/update/{{name}}">{{name}} ({{shifts}})
                            <input class='deleteBtn' type="submit" value=" - "
                                onclick="return confirm('Are you sure you want to remove them from this day?')">
                       </a> </span> <br>
                    </form>
                    {{/each}}
                </td>
                {{/each}}
            </tr>
        </table>
        </a>
    </div>
</div>
<div class='row'>
    <div class='col-md-4 text-center'>
    </div>
    <div class='col-md-4 text-center'>
        <form action="/clear" method="POST">
            <input type="submit" class="btnStyle" style='width:130px' value="Clear shifts" onclick="return confirm('Are you sure you want to clear all the shifts for the week?')">
        </form>
        <form action="/">
            <input type="submit" class="btnStyle" style='width:130px' value="Login screen">
        </form>
    </div>
    <div class='col-md-4'>
        <h3>Waiters that haven't chosen shifts:</h3>
        {{#each notWorking}}
        <a class='choosing' href="/update/{{this}}">{{this}}</a> <br>
        {{/each}}
    </div>
</div>