<div class='row'>
    <div class='col-md-12 text-center'>
        <h1>Waiter Data</h1>
    </div>
</div>
<div class='row'>
    <div class='col-md-12 text-center'>
        <table>
            <tr>
                {{#each days}}
                <th>
                    <h4 class='{{style}}' style="float: none; text-align: center; margin:2px"><u>{{day}}</u> <br>
                        waiters:
                        {{waiters}}</h4>
                </th>
                {{/each}}
            </tr>
            <tr>
                {{#each workers}}
                <td>
                    {{#each waiters}}
                    <form action="/waiters/delete/{{name}}-{{../day}}" method='POST'>
                        <span style="float: right"> <a class='choosing' href="/waiters/update/{{name}}">{{name}}
                                <input class='deleteBtn' type="submit" value=" - "
                                    onclick="return confirm('Are you sure you want to remove them from this day?')">
                            </a> </span> <br> <br>
                    </form>
                    {{/each}}
                </td>
                {{/each}}
            </tr>
        </table>
        </a>
    </div>
</div>
<hr>
<div class='row'>
    <div class='col-md-6'>
        <h3 style='margin-top: 0px'>Waiters that haven't chosen shifts:</h3>
        {{#each notWorking}}
        <a class='choosing' href="/update/{{this}}">{{this}}</a> <br>
        {{/each}}
    </div>
    <div class='col-md-6 text-center'>
        <div class='btn-toolbar' style='justify-content: center; display:flex' role='toolbar'
            aria-label="Toolbar for buttons">
            <form action="/clear" method="POST">
                <div class='btn-group' role='group' aria-label='Clearing shifts'>
                    <button type='submit' class='btn adminBtn'
                        onclick="return confirm('Are you sure you want to clear all the shifts for the week?')">Clear
                        shifts</button>
                </div>
            </form>
            <form action="/">
                <div class='btn-group' role='group' aria-label='Logout'>
                    <button type='submit' class='btn adminBtn'>Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>