<div class='row'>
    <div class='col-12 center'>
        <h1>Waiter Shifts ({{name}})</h1>
    </div>
</div>
<div class='row'>
    <div class='col-12 center'>
        <ul>
            {{#each days}}
            <li class='{{style}}'><u>{{day}}</u> <br> waiters: {{waiters}}</li>
            {{/each}}
        </ul>
    </div>
</div>
<div class='row'>
    <div class='col-12 center'>
        <form action="/back" method="POST">
            <input type="submit" class='btnStyle' value="Back">
        </form>
    </div>
</div>
<div class='row'>
    <div class='col-12 center'>
        <form action="/waiters/{{name}}" method="POST">
            <h3>Select the days you want to work: </h3>
            {{#each days}}
                {{#if (isChecked ../name day) }}
                    <input type="checkbox" name="chkDay" id='{{day}}' value="{{day}}" checked><label for="{{day}}">{{day}}</label>
                {{else}}
                    <input type="checkbox" name="chkDay" id='{{day}}' value="{{day}}"><label for="{{day}}">{{day}}</label>
                {{/if}}
            {{/each}}
            <br>
            <button type='submit' style='margin-top:10px' class='btnStyle' onclick="return confirm('Are you sure you want to update your shifts?')">Update</button>
        </form>
    </div>
</div>