<div class='row'>
    <div class='col-3 center'>
    </div>
    <div class='col-6 center'>
        <h1>Waiter login</h1>
    </div>
    <div class='col-3 center'>
        <form action="/adminLogin" method="GET">
            <input type="submit" class='adminBtn' value='Admin login'>
        </form>
    </div>
</div>
<div class='row'>
    <div class='col-12 center display'>
        <ul>
        {{#each days}}
        <li class='{{style}}'><u>{{day}}</u> <br> waiters: {{waiters}}</li>
        {{/each}}
        </ul>
    </div>
</div>
<div class='row'>
    <div class='col-12 center'>
        <h4><u style='color:black'>Select your name:</u></h4>
            {{#each waiters}}
                <a href="/waiters/{{waiter_name}}">{{waiter_name}}</a> <br>
            {{/each}}
    </div>
</div>